
.viewStyle {
  background-color: #30d0fe;
  height: 116px;
  justify-content: 'center';
  padding-left: 22px;
  padding-top: 71px;
  box-shadow: 0px 2px 0.2px #000;
  position: 'relative'
}

.textStyle {
  justify-content: 'center'
}